<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DefaultConnectionString" value="Server=localhost\\MSSQLSERVER_16;Database=AdventureWorksLT2022;Trusted_Connection=true;TrustServerCertificate=true;"/>
        <add key="UrlBase" value="http://localhost:57307/"/>
        <add key="GetVersionUrl" value="api/System/GetVersion/"/>
        <add key="GetAllTablesUrl" value="api/DatabaseInfo/GetAllTables/"/>
        <add key="GetAllColumnsUrl" value="api/DatabaseInfo/GetAllColumns/"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>